.bg-black{
	background: #0a0a0a;
	color: #fafafa;
}
.bg-black-50{
	background: rgba(0,0,0,.5);
}
.bg-slate{
	background: rgba(30, 41, 59, 0.1);
}
.bg-soft-gray{
	background: #f3f4f6;
}
.banner__single .banner__single__summary{
	max-width: 472px;
	background: rgba(30, 41, 59, 0.5);
	height: 75%;
}
.eh2{
	font-size: 1.3rem;
}
.fsize-2{
	font-size: 2.5rem;
}
.lh-150{
	line-height: 150%;
}
.swiper-categories{
	width: 100%;
	max-width: calc(100vw - 30px);
	height: 360px;
	overflow: hidden;
}
.swiper-slide {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-card{
	background: #fafafa;
	padding: .25rem;
	border-radius: 10px;
	box-shadow: 11px 11px 12px 1px rgba(30,41,59,0.075);
	-webkit-box-shadow: 11px 11px 12px 1px rgba(30,41,59,0.075);
	-moz-box-shadow: 11px 11px 12px 1px rgba(30,41,59,0.075);
}
.wrap-card.dark{
	background: #0a0a0a;
	color: #fafafa;
	position: relative;
	width: 100%;
	height: 100%;
}
.wrap-card.dark > .text
{
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	width: calc(100% - 30px);
	left: 15px;
	padding: 24px 15px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.iconera{
	text-align: end;
}
.iconera > i{
	font-size: 36px;
	font-size: 34px;
	margin-left: 7px;
}
.iconera > i:last-child{
	margin-right: 7px;
}
.iconera > i.bi-plug-fill:hover{
	color: #60a5fa;
}
.iconera > i.bi-fire:hover{
	color: #F00;
}
.featured-link{
	font-weight: 600;
	font-size: 1.45rem;
	color: #334155;
}
.before-buy p,
.before-buy span,
.before-buy strong{
	font-size: 1.3rem;
}
.before-buy strong.blue{
	color: #0dcaf0;
}
.hiper-strong
{
	font-size: 2.35rem;
}
.hiper-strong span
{
	font-size: 2.5rem;
	color: #0dcaf0;
}

@keyframes fadeIn {
	0% { opacity: 0; top: -50px; }
	100% { opacity: 1; top: 0; }
}
a.featured-link{
	display: inline-block;
	position: relative;
}
a.featured-link > span{
	display: none;
	position: absolute;
	top: 0;
	font-size: 0.95rem;
	background: #d5ac63;
	padding: 1px 10px;
	color: #fafafa;
	font-weight: 400;
	letter-spacing: 0.015rem;
	border-radius: 18px 0;
	min-width: 128px;
}
a.featured-link:hover > span{
	display: block;
	animation: fadeIn 1s;
}

.btn-success{
	color: #FFF;
}

.big,
.big > * {
	font-size: 3rem;
	font-weight: 600;
}
.medium,
.medium > * {
	font-size: 2rem;
	font-weight: 600;
}
.normal,
.normal > * {
	font-size: 1.5rem;
	font-weight: 600;
}
.feature{
	color: #0ea5e9;
}

.bloquecito{
	margin-bottom: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	color: #a3a3a3;
	.text-black{
		font-size: 1.3rem;
		font-weight: 600;
		color: #18181b;
		display: block;
	}
}

.feature-title{
	font-size: .9rem;
	color: #d97706;
	text-transform: uppercase;
}

h3.speedpro,
h3.speedpro > *,
h3.speedx,
h3.speedx > *{
	font-size: 3rem;
	.bake{
		color: rgb(252, 191, 28);
	}
	.speed{
		color: #00cc00;
	}
	.combi{
		color: rgb(0, 153, 255);
	}
}
.yellow-bake{
	color: rgb(252, 191, 28);
}
.green-speed{
	color: #00cc00;
}
.blue-combi{
	color: rgb(0, 153, 255);
}

ul.properties{
	list-style: none;
	max-width: 460px;
	text-align: justify;
}