#algolia-search-container
{
	display: none;
	position: fixed;
	background: $white;
	z-index: 3000;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-y: auto;
	@include scrollbar();
	@include boxshadow();

	&.show_me_the_money
	{
		display: block;
	}

	h2,
	h3{
		text-align: left;
		margin-top: 20px;
		margin-bottom: 10px;
		&:after{
			margin-right: auto;
			margin-left: 0;
		}
	}
	#powered-by{
		z-index: 2999;
	}
	#algolia-searchbox
	{
		background: $gray_light;
		padding: 1rem;
		margin-bottom: 15px;
		//border-radius: 40px;
		//@include boxshadow();

		.ais-SearchBox-form{
			background: transparent;
			height: 3.2rem;
			&:before{
				background: transparent url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23bfbfbf%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E) no-repeat 0 0;
				background-size: cover;
				height: 1.5rem;
				width: 1.5rem;
				top: 42%;
			}
			.ais-SearchBox-input{
				border-radius: 6px;
				font-size: 1.12rem;
				font-weight: $font-light;
				color: $primary_color;
				padding-left: 3rem;
				box-shadow: inset 0 1px 4px 0 darken($gray_light, 20%);
				border-color: darken($gray_light, 10%);

				&::placeholder{
					color: darken($gray_light, 20%);
				}

				&:focus{
					border-color: darken($gray_light, 20%);
				}
			}
			&:after{
				content: "Buscar";
				background: darken($primary_color, 5%);
				color: $white;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				font-weight: 600;
				font-size: 1.15rem;
				text-transform: uppercase;
			}
		}
	}
	#algolia-hits{
		@include scrollbar();
		.algolia-hits-categories{
			background: #D5AC63;
			border-radius: 20px;
			padding: 1px 10px;
			text-align: right;
			max-width: 450px;
			color: #FFF;
			margin-left: auto;
		}
		.algolia-hits-description{
			font-size: .9rem;
			text-transform: lowercase;
			max-height: 68px;
			overflow-y: auto;
		}
		.algolia-hits-brand{
			font-weight: $font-bold;
			text-transform: uppercase;
			color: $primary-color;
		}
		.algolia-hits-price{
			background: rgba($gold_equipar, 0);
			border: 1px solid $gold_equipar;
			color: $blue_equipar;
			padding: .175rem .75rem;
			border-radius: 1.5rem;
			font-weight: $font-light;
			font-size: 1rem;
			letter-spacing: 1px;
			@include ease();

			&:hover{
				background: rgba($gold_equipar, .1);
			}
		}
	}

	#algolia-categories,
	#algolia-subcategories,
	#algolia-brands,
	#algolia-prices{
		.ais-RefinementList-labelText,
		.ais-NumericMenu-labelText{
			text-transform: lowercase;
			&:first-letter{
				text-transform: uppercase;
			}
			&:hover{
				color: $primary_color;
			}
		}
	}

	#algolia-pagination{
		.ais-Pagination{
			display: flex;
			justify-content: flex-end;
		}
	}
}