.eventos {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    transform-origin: center;

    .eventos__close{
        position: absolute;
        background: none;
        border:none;
        color: $white;
        right: 4px;
        i{
            font-size: 40px;
        }
    }
    .eventos__content{
        .eventos__content--invite_cafe{
            display: none;
            a{
                width: 200px;
                background-color: $gold_equipar;
                color: $white;
                bottom: 36px;
                left: calc(217px - 100px);
                padding: 10px 0;
                border-radius: 30px;
                text-align: center;
            }
            a:hover{
                transform-origin: center;
                transform: scale(1.1);
            }
        }
    }
}
